// Font
$fontBase: 'Roboto', sans-serif;

// Breakpoints
$bpMobile: 767px;
$bpTablet: 1023px;

// Colors
$baseWhite: #fff;
$baseBlack: #000;
$bgButtonPrimary: #4f2ac3;
$grad01: #1b6ca7;
$grad02: #442bdb;
$grad03: #89223b;
$grad04: #9c791d;
$grad05: #89223b;
